%h1.text-2xl.text-center Ideas

= form_with url: update_multiple_ideas_path, method: :post do |f|
  %div.flex{ class: 'max-w-[90vw] mx-auto' }
    %div{class: "w-1/2 p-3 bg-blue-50"}
      = turbo_frame_tag "new_idea" do
        = link_to 'new idea', new_idea_path

      #ideas{data:{controller: 'sortable', sortable_group_value: 'ideas', action: 'sort->sortable#sort' }}
        = render @pending_ideas
        = f.hidden_field :pending_ids, data: { sortable_target: 'ideaIds' }

    %div{class: "w-1/2 p-3 bg-green-50", data:{controller: 'sortable', sortable_group_value: 'ideas', action: 'sort->sortable#sort' }}
      = render @accepted_ideas
      = f.hidden_field :accepted_ids, data: { sortable_target: 'ideaIds' }


= turbo_stream_from 'ideas'
