= turbo_frame_tag "new_idea" do
  = form_with(model: @idea, html: { class: 'space-x-2' }) do |f|
    = f.label :title
    = f.text_field :title, class: 'border border-gray-500'
    = f.label :description
    = f.text_field :description, class: 'border border-gray-500'
    = f.submit class: 'border border-blue-900 px-2 py-1 rounded'
