%h2.text-xl
  Bugs opened/closed

.text-gray-500.my-5.text-sm
  Bug tickets
  (labelled #{to_or_sentence(BugTicketsCalculator::LABELS) { |label| %["#{label}"] }})
  opened or closed in
  = to_or_sentence(@board.repos) do |repo|
    = link_to(repo.name, repo.html_url,
      target: :_blank, class: 'text-blue-400 hover:text-blue-800')

%table.w-full.text-left.text-sm
  - cell_classes = 'px-3 py-2 border border-gray-300'

  %thead
    - ['Month', 'State', 'Tickets', 'By Month', 'By Quarter'].each do |header|
      %th.bg-gray-50{ class: cell_classes }= header

  %tbody
    - tickets = @bug_tickets.to_a
    - tickets.each.with_index do |stat, index|
      %tr
        - if index.multiple_of?(2)
          %td{ rowspan: 2, class: cell_classes }= stat.date
        %td{ class: "#{cell_classes} #{stat.closed? ? 'bg-green-100' : 'bg-red-100'}" }
          = stat.state
        %td{ class: cell_classes }= stat.count
        - if index.multiple_of?(2)
          - aggregate = stat.count - tickets[index + 1].count # closed - opened
          %td{ rowspan: 2, class: "#{cell_classes} #{aggregate.negative? ? 'bg-red-100' : 'bg-green-100'}" }
            = format '%+d', aggregate
        - if index.zero?
          - aggregate = tickets.partition(&:closed?).map { |stats| stats.sum(&:count) }.inject(&:-)
          %td{ rowspan: 12, class: "#{cell_classes} #{aggregate.negative? ? 'bg-red-100' : 'bg-green-100'}" }
            = format '%+d', aggregate
