%h2.ui.block.header Bugs opened/closed

%table.ui.celled.table
  %thead
    %th Date
    %th State
    %th Tickets
    %th By Month
    %th By Quarter

  %tbody
    - tickets = @bug_tickets.to_a
    - tickets.each.with_index do |stat, index|
      %tr
        - if index.multiple_of?(2)
          %td{ rowspan: 2 }= stat.date
        %td{ class: stat.closed? ? 'positive' : 'negative' }= stat.state
        %td= stat.count
        - if index.multiple_of?(2)
          - aggregate = stat.count - tickets[index + 1].count # closed - opened
          %td{ rowspan: 2, class: aggregate.negative? ? 'negative' : 'positive' }
            = format '%+d', aggregate
        - if index.zero?
          - aggregate = tickets.partition(&:closed?).map { |stats| stats.sum(&:count) }.inject(&:-)
          %td{ rowspan: 12, class: aggregate.negative? ? 'negative' : 'positive' }
            = format '%+d', aggregate
