%h2.ui.block.header
  CircleCI builds
  .sub.header
    Passing vs. failing CircleCI builds for "build" jobs for #{CircleciBuildsCalculator::BRANCH_NAMES.map { |branch| content_tag(:code, branch) }.to_sentence(two_words_connector: ' or ').html_safe} on
    = link_to 'MyRewards', 'https://github.com/CorporateRewards/myrewards', target: :_blank
    or
    = link_to 'GPS', 'https://github.com/CorporateRewards/redstone', target: :_blank

%table.ui.celled.table
  %thead
    %th Month
    %th Repo
    %th State
    %th Builds
    %th By Repo + Month
    %th By Month
    %th By Quarter

  %tbody
    - builds = @circleci_builds.to_a
    - builds.each.with_index do |stat, index|
      %tr
        - if index.multiple_of?(4)
          %td{ rowspan: 4 }= stat.date
        - if index.multiple_of?(2)
          %td{ rowspan: 2 }= stat.repo
        %td{ class: stat.success? ? 'positive' : 'negative' }= stat.human_state
        %td= stat.count
        - if index.multiple_of?(2)
          %td{ rowspan: 2 }
            - total = stat.count + builds[index + 1].count
            #{total} builds (#{calculate_percentage(stat.count, total)} passing)
        - if index.multiple_of?(4)
          %td{ rowspan: 4 }
            - stats = builds[index..(index + 3)]
            - successes = stats.select(&:success?).sum(&:count)
            - total = stats.sum(&:count)
            #{total} builds (#{calculate_percentage(successes, total)} passing)
        - if index.zero?
          %td{ rowspan: 12 }
            - successes = builds.select(&:success?).sum(&:count)
            - total = builds.sum(&:count)
            #{total} builds (#{calculate_percentage(successes, total)} passing)
