%h2.ui.block.header
  Cycle time
  .sub.header
    = form_for :cycle_time, method: :get, html: { class: 'ui form', id: 'cycle_time_settings' } do |f|
      = hidden_field_tag :date, params[:date]

      Time in business days (Mon-Fri) for tickets to go from
      %span.inline.field
        = f.collection_select :start_swimlane_id, @board.swimlanes, :id, :name
      to
      %span.inline.field
        = f.collection_select :end_swimlane_id, @board.swimlanes, :id, :name
      in this quarter

%table.ui.collapsing.definition.table
  %tbody
    %tr
      %td Tickets
      %td= @cycle_time.results.count
    %tr
      %td Mean (average)
      %td
        = number_with_precision @cycle_time.mean
        days
    %tr
      %td Standard deviation
      %td= number_with_precision @cycle_time.standard_deviation
    %tr
      %td 90th percentile
      %td
        = @cycle_time.percentile(90).try(:ceil)
        days


%table.ui.celled.striped.small.compact.table
  %thead
    %tr
      %th(colspan="2") Ticket
      %th Repo
      %th Started at
      %th Completed at
      %th Cycle time (days)

  %tbody
    - @cycle_time.results.each do |result|
      %tr
        %td= link_to result.number, result.github_url, target: :_blank
        %td
          = link_to client_side_board_path(@board, "#{result.slug}/#{result.number}") do
            = result.title.truncate(100)
        %td= result.repo_name
        %td= l result.started_at, format: :short
        %td= l result.ended_at, format: :short
        %td= result.duration.ceil

:javascript
  document.querySelector('#cycle_time_settings').addEventListener('change', function(event) {
    event.target.form.submit();
  });
