%h2.ui.block.header
  Cycle time
  .sub.header
    Time in business days (Mon-Fri) for tickets to go from "Development" to "Deploying" that were completed in this quarter

%table.ui.collapsing.definition.table
  %thead
    %th
    %th Days
  %tbody
    %tr
      %td Mean (average)
      %td= number_with_precision @cycle_time.stats.mean
    %tr
      %td Standard deviation
      %td= number_with_precision @cycle_time.stats.standard_deviation
    %tr
      %td 90th percentile
      %td= @cycle_time.stats.percentile(90).round


%table.ui.celled.striped.small.compact.table
  %thead
    %tr
      %th Title
      %th Number
      %th Repo
      %th Started at
      %th Completed at
      %th Cycle time (days)

  %tbody
    - @cycle_time.results.each do |result|
      %tr
        %td
          = link_to "https://github.com/#{result['repo']}/issues/#{result['number']}", target: :_blank do
            = result['title'].truncate(100)
        %td= result['number']
        %td= result['repo']
        %td= l result['started_at'], format: :short
        %td= l result['ended_at'], format: :short
        %td= result['cycle_time'].round
