= render "shared/board_header"

- show_repo_name = @board.repos.count > 1
.board
  - @board.swimlanes.ordered.each do |swimlane|
    .swimlane
      .ui.small.grey.center.aligned.header.swimlane-header
        = swimlane.name
      .body
        - swimlane.board_tickets.includes(ticket: { pull_requests: :reviews }).each do |board_ticket|
          - ticket = board_ticket.ticket
          .ui.card
            .content
              = link_to "##{ticket.remote_number}", "http://github.com/#{ticket.repo.remote_url}/issues/#{ticket.remote_number}", target: '_blank', class: 'issue-number'

              - if show_repo_name
                %span.meta.repo-name
                  = ticket.repo.name

            .content
              = link_to(ticket.remote_title, '', data: { url: board_board_ticket_path(@board, board_ticket), target: '#applicationModal', hook: '_showTicketAjax' }, class: 'issue-title')

            - if swimlane.display_duration?
              .content
                .meta Current state: #{board_ticket.current_state_duration}

            - if ticket.pull_requests.any?
              .ui.celled.list.ticket-pull-requests
                - ticket.pull_requests.each do |pull_request|
                  .item
                    .left.floated.content
                      = pull_request_icon pull_request
                      = link_to pull_request.remote_number, pull_request.html_url, title: pull_request.remote_title, target: :_blank
                    .right.floated.content
                      = next_action_button(pull_request, user: current_user, class: 'compact mini')

            - if swimlane.transitions.any?
              .extra.content
                .ui.right.floated.primary.compact.small.buttons
                  = link_to(swimlane.transitions[0].name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: swimlane.transitions[0].id }), data: { method: 'patch' }, class: 'ui button')
                  - if swimlane.transitions.count > 1
                    .ui.floating.dropdown.icon.button
                      %i.dropdown.icon
                      .left.menu
                        - swimlane.transitions.drop(1).each do |transition|
                          = link_to(transition.name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: transition.id }), class: 'item', data: { method: 'patch' })


