.board-header
  .ui.selection.dropdown
    %i.dropdown.icon
    .default.text= @board.name

    .menu
      - @boards.each do |board|
        - next if board.id == @board.id 
        = link_to board.name, board_path(board), class: 'item'

- show_repo_name = @board.repos.count > 1
.board
  - @board.swimlanes.ordered.each do |swimlane|
    .swimlane
      .swimlane-header= swimlane.name
      .body
        - swimlane.board_tickets.each do |board_ticket|
          - ticket = board_ticket.ticket
          .ui.card
            .content
              .header
                = link_to "##{ticket.remote_number}", "http://github.com/#{ticket.repo.remote_url}/issues/#{ticket.remote_number}", target: '_blank', class: 'ui yellow circular label'

                = link_to(ticket.remote_title, '', data: { url: board_board_ticket_path(@board, board_ticket), target: '#applicationModal', hook: '_showTicketAjax' }, class: 'issue-title')

              - if show_repo_name
                .meta
                  %span.repo-name
                    = ticket.repo.name
            - if swimlane.display_duration?
              .content
                .description
                  %p
                    Current state:
                    = board_ticket.current_state_duration
            - if swimlane.transitions.any?
              .extra.content
                .ui.right.floated.primary.buttons
                  = link_to(swimlane.transitions[0].name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: swimlane.transitions[0].id }), data: { method: 'patch' }, class: 'ui button')
                  - if swimlane.transitions.count > 1
                    .ui.floating.dropdown.icon.button
                      %i.dropdown.icon
                      .left.menu
                        - swimlane.transitions.drop(1).each do |transition|
                          .item
                            = link_to(transition.name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: transition.id }), data: { method: 'patch' })


