= render "shared/board_header"

- show_repo_name = @board.repos.count > 1
.board
  - @board.swimlanes.ordered.each do |swimlane|
    .swimlane
      .header= swimlane.name
      .body
        - swimlane.board_tickets.includes(ticket: :pull_requests).each do |board_ticket|
          - ticket = board_ticket.ticket
          .panel.panel-default
            .panel-heading
              .remote-details
                %span.issue-number
                  = link_to ticket.remote_number, "http://github.com/#{ticket.repo.remote_url}/issues/#{ticket.remote_number}", target: '_blank'
                - if show_repo_name
                  %span.repo-name
                    = ticket.repo.name

              = link_to(ticket.remote_title, '', data: { url: board_board_ticket_path(@board, board_ticket), target: '#applicationModal', hook: '_showTicketAjax', toggle: 'modal' })
            .panel-body
              - if swimlane.display_duration?
                %p
                  Current state:
                  = board_ticket.current_state_duration
              %ul.list-unstyled
                - ticket.pull_requests.each do |pull_request|
                  %li= pull_request.slice(:remote_number, :remote_state).values.join(' - ')
            .panel-footer
              - if swimlane.transitions.any?
                .btn-group
                  =link_to(swimlane.transitions[0].name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: swimlane.transitions[0].id }), data: { method: 'patch' }, class: 'btn btn-sm btn-info ')
                  - if swimlane.transitions.count > 1
                    %button.btn.btn-sm.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                      %span.caret
                      %span.sr-only Toggle Dropdown
                    %ul.dropdown-menu
                      - swimlane.transitions[1..-1].each do |transition|
                        %li
                          =link_to(transition.name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: transition.id }), data: { method: 'patch' })


