.board-header
  .dropdown.pull-right
    %button.btn.btn-warning.dropdown-toggle#boards_menu{ data: { toggle: 'dropdown' } }
      = @board.name
      %span.caret

    %ul.dropdown-menu{ aria: { labelledby: 'boards_menu' } }
      - @boards.each do |board|
        - next if board.id == @board.id
        %li
          = link_to board.name, board_path(board)
  .clearfix

- show_repo_name = @board.repos.count > 1
.board
  - @board.swimlanes.ordered.each do |swimlane|
    .swimlane
      .header= swimlane.name
      .body
        - swimlane.board_tickets.includes(ticket: { pull_requests: :reviews }).each do |board_ticket|
          - ticket = board_ticket.ticket
          .panel.panel-default
            .panel-heading
              .remote-details
                %span.issue-number
                  = link_to ticket.remote_number, "http://github.com/#{ticket.repo.remote_url}/issues/#{ticket.remote_number}", target: '_blank'
                - if show_repo_name
                  %span.repo-name
                    = ticket.repo.name

            .panel-body
              = link_to(ticket.remote_title, '', class: 'issue-title', data: { url: board_board_ticket_path(@board, board_ticket), target: '#applicationModal', hook: '_showTicketAjax', toggle: 'modal' })
              - if swimlane.display_duration?
                .swimlane-duration
                  Current state: #{board_ticket.current_state_duration}

            - if ticket.pull_requests.any?
              %ul.list-group
                - ticket.pull_requests.each do |pull_request|
                  %li.list-group-item.clearfix
                    %span.pull-left
                      - if pull_request.merged?
                        = octicon 'git-merge', class: 'is-merged'
                      - else
                        = octicon 'git-pull-request', class: (pull_request.open? ? 'text-success' : 'text-danger')
                      = link_to pull_request.remote_number, pull_request.html_url, title: pull_request.remote_title, target: :_blank
                    %span.pull-right
                      = next_action_button(pull_request, class: 'btn-xs')

            - if swimlane.transitions.any?
              .panel-footer
                .btn-group
                  =link_to(swimlane.transitions[0].name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: swimlane.transitions[0].id }), data: { method: 'patch' }, class: 'btn btn-sm btn-info ')
                  - if swimlane.transitions.count > 1
                    %button.btn.btn-sm.btn-info.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                      %span.caret
                      %span.sr-only Toggle Dropdown
                    %ul.dropdown-menu
                      - swimlane.transitions[1..-1].each do |transition|
                        %li
                          =link_to(transition.name, board_board_ticket_path(@board, board_ticket, board_ticket: { swimlane_id: transition.id }), data: { method: 'patch' })


