= render 'shared/board_header', path: :pull_requests

%table.ui.celled.compact.table.pull-request-dashboard
  %thead
    %th Name
    %th Checks
    %th Reviews
    %th Next action

  %tbody
    - @repos.each do |repo|
      - next if repo.open_pull_requests.load.none?

      %tr
        %td(colspan="5")
          %h3.ui.header
            = repo.name
            %span.ui.circular.label= repo.open_pull_requests.size

      - repo.open_pull_requests.each do |pr|
        %tr.top.aligned
          %td
            .ui.left.floated.list
              .item
                = avatar_tag pr.creator_username

                .content
                  = link_to pr.remote_title, pr.html_url, class: 'header'
                  .ui.list
                    .item
                      %span.text-muted Merging
                      .ui.label= pr.remote_head_branch
                    .item
                      %span.text-muted into
                      .ui.label= pr.remote_base_branch

            .pr-age.text-muted
              = short_time_distance pr.created_at

          %td
            .ui.list
              - pr.latest_commit_statuses.each do |commit_status|
                .item
                  = status_label commit_status.state, class: 'horizontal'
                  = link_to commit_status.description, commit_status.url

          %td
            - if pr.latest_reviews.any?
              .ui.list
                - pr.latest_reviews.group_by(&:state).each do |state, reviews|
                  .item
                    = status_label state
                    - reviews.each do |review|
                      = link_to avatar_tag(review.reviewer_username), review.url
            - else
              %em.text-muted No reviews added

          %td= next_action_button pr, class: 'fluid'
