!!!
%html
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title FlightPlan
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = v2_stylesheets :application

  %body.overscroll-none
    = yield
    = javascript_include_tag 'application_v2'
