!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FlightPlan
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{"data-action" => action_name, "data-controller" => controller_path.gsub('/', '__')}
    - if hide_container?
      = yield
    -else
      .ui.container
        = yield

    #applicationModal.ui.longer.modal.scrolling
      %i.close.icon
      .header
      .scrolling.content Test
      .actions
        %button.ui.button Cancel
        %button.ui.button OK
